{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div id="logo">
        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                       <img src="{% static 'images/doctalk_img1.png' %}" alt="" >
                       <p>Connecting You to Better Health,<br>One Conversation at a Time.</p>
                          
                    </div>
                </div>
            </section>
        </main>
        <div class="tagline">Read The Best Of Medical Blogs Here</div>


    </div>
    <div id="line"></div>
</div>
{% endblock %}